 body {
    margin: 0;
    padding: 0;
     width: 100%;
    height: 100vh; 
    background-color: black;
    text-align: center;
    font-family: 'Nunito', sans-serif;
  } 

.logoPesquisa{
    display: flex;
}
.logo{
    display: flex;
    justify-content: space-between;
}
.sala{
    height: 40px;
    width: auto;
    border-radius: 0px 00px 15px 0px;
    
}
#doar{
    height: 40px;
    width: 101.33px;
    border-radius: 0px 0px 0px 15px;
    

}
p{
    color: white;
    margin-right: 20px;
}
ul{
    margin: 0;
    padding: 0;
}


li{
    display: flex;
    justify-content: space-around;
    border-bottom:1px dotted rgba(128, 128, 128, 0.233) ;
   
}
a{
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.233);
    padding: 5px 15px;
    border-radius: 10px 10px 0px 0px ;
    text-decoration: none;
    
}
a:hover{
  background: #ff8;
  color: black;
}
 input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 600px;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;  
  object-fit: cover;
}

#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  
  
} 
.documentação{
    text-align: center;
    height: 90vh;
    width: 100%;
}
.documentação h1{
  margin-top: 90px;
  margin-bottom: 70px;

  color: white;
}
.documentação p{
  margin-left: 15px;     
}
.conteúdo{
  height: auto;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.24);
  border-radius: 20px 20px 0px 0px;
}
.conteúdo span{
  color: white;
  line-height: 5;
  border-bottom: 1px dotted black;
}
.aulas{
  display: none;
}
.desafios{
  text-align: center;
  height: auto;

}


.caso01 img{
  margin-top: 30px;
  border-radius: 0;
  border-radius: 5px 5px 0px 0px;

}
.caso01 p{
  color: white;
  font-size: 18px;
  text-align: justify;
  margin-left: 30px;
  padding-left: 15px;
  border-left: 7px solid red;
 
}
